*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  padding-top: 25px;
  text-align: center;
  color: #111920;
  background-color: #408c6a;
  font-size: 3rem;
}
img{
  display: block;
  width: 100%;
}
div.hero {
  height: 30vh;
  width: 100vw;
}